* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;

    /* Disable silecting of anything */
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -moz-user-select: -moz-none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: black;
    /* overflow: hidden; */
    /* height: 100vh; */
}

.wrapper {
    width: 100%;
    max-width: 120rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    row-gap: 2rem;

    transform: scale(0.5) translate(0, -45%);
}

@media (min-width: 375px) {
    .wrapper {
        transform: scale(0.625) translate(0, -22%);
    }
}

@media (min-width: 425px) {
    .wrapper {
        transform: scale(0.875);
    }
}

@media (min-width: 768px) {
    .wrapper {
        row-gap: 5rem;
        transform: scale(0.875);
    }
}

@media (min-width: 900px) {
    .wrapper {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}

@media (min-width: 1024px) {
    .wrapper {
        gap: 5rem;
    }
}

@media (min-width: 1440px) {
    .wrapper {
        transform: scale(1);
    }

    #root {
        padding: 2rem 3rem;
        text-align: center;
    }
}

#root {
    text-align: center;
}

#root canvas {
    display: block;
    margin: 0 auto;
    background-color: rgb(20, 5, 30);
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
}

h1 span:nth-child(1) {
    color: red
}

h1 span:nth-child(2) {
    color: orange
}

h1 span:nth-child(3) {
    color: yellow
}

h1 span:nth-child(4) {
    color: green
}

h1 span:nth-child(5) {
    color: cyan
}

h1 span:nth-child(6) {
    color: purple
}

.btns {
    position: relative;
    /* width: 90%; */
    width: 48rem;
    height: 24rem;
    /* border: 1px solid green; */
    flex-shrink: 0;
}

.btn {
    position: absolute;
    background-color: gold;
    background: radial-gradient(circle at 75% -10%, gold 15px, #FF8008);
    border-radius: 50%;
    border: 0.1rem solid darkorange;
    /* width: 8rem; */
    width: 18%;
    /* height: 10rem; */
    height: 36%;
    transition: 0.1s;
}


@media (hover: hover) and (pointer: fine) {

    /* Rules for devices with mouse here */
    .btn:hover {
        cursor: pointer;
        background-color: goldenrod;
        background: radial-gradient(circle at 75% -10%, hsl(51, 100%, 45%) 15px, hsl(29, 100%, 35%));
        /* filter: brightness(0.9); */
    }
}

.btns .btn_hover {
    background-color: goldenrod;
    background: radial-gradient(circle at 75% -10%, hsl(51, 100%, 45%) 15px, hsl(29, 100%, 35%));
    /* filter: brightness(0.9); */
}

.btn::after {
    font-size: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: peachpuff;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 125%);
}

.btn_left,
.btn_right,
.btn_rotate {
    top: 30%
}

.btn_left {
    left: 0%;
}

.btn_left::after {
    content: 'Left';
}

.btn_right {
    left: 40%;
}

.btn_right::after {
    content: 'Right';
}

.btn_down {
    top: 70%;
    left: 20%;
}

.btn_down::after {
    content: 'Down';
}

.btn_rotate {
    width: 25%;
    height: 50%;
    top: 15%;
    right: -5%;
}

@media (min-width: 425px) {
    .btn_rotate {
        right: 0%;
    }
}

@media (min-width: 768px) {
    .btn_rotate {
        right: -5%;
    }
}


.btn_rotate::after {
    content: 'Rotate';
}


.btn_pause {
    width: 11%;
    height: 22%;
    top: -2%;
    right: 27%;
}

.btn_pause::after {
    font-size: 1.8rem;
    content: 'Start/Pause';
}

@media (min-width: 425px) {
    .btn_pause::after {
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) {
    .btn_pause::after {
        font-size: 1.8rem;
    }
}